name: Codecov
on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Python 3.10
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install flit
          flit install --deps=all --symlink
      - name: Run tests and collect coverage
        run: |
          pytest \
            --cov=fastapi_simple_cache tests \
            --log-level=DEBUG \
            --cov-fail-under=100

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
